<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138961907149-alteq055n9iued2rag7a53leh5g8bj5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138961907149-alteq055n9iued2rag7a53leh5g8bj5m</string>
	<key>API_KEY</key>
	<string>AIzaSyBnF-NYJ_VXTEdbBQvr4VHtbJBns3KNP5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>138961907149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>apponim.athlontask</string>
	<key>PROJECT_ID</key>
	<string>fluttertask-45b7e</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertask-45b7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138961907149:ios:20971292005f56625da884</string>
</dict>
</plist>